/* css common start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
.container{
    width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

:root{
    --popins:"Poppins", sans-serif;
}
/* css common end*/

body{
    font-family: var(--popins);
    height: 1000px;
}

#navigation{
    height: 120px;
}
nav{
    z-index: 10;
}
nav.active{
    top: 0;
    left: 0;
    position: fixed;
    animation: active 0.5s linear;
}

@keyframes active{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
}



nav ul li{
   padding: 18px 22px !important;
}

nav ul li a{
    padding: 0 !important;
    font-size: 20px !important;
    transition: 0.3s !important;
    position: relative;
    /* background-color: red !important; */
    padding: 5px !important;
}

nav ul li a:hover{
    color: orange !important;
}

nav ul li a::before{
   position: absolute;
   content: '';
   bottom: 0;
   left: 0;
   width: 0px;
   height: 3px;
   background-color: #353535;
}

nav ul li a:hover::before{
    width: 100%;
    transition: 0.5s;
}

nav ul .dropdown a{
    color: #353535;
}

nav ul .dropdown{
    position: relative;
}

nav ul .dropdown .dropdown-menu{
    position: absolute;
    top: 60px;
    border-radius: 0;
    border: 0;
}

/* =====Offcanvas start===== */
.offcanvas-header{
    background-color: #353b48;
    color: #fff;
}

.offcanvas-body{
    background-color: #dcdde1;
}

.offcanvas-body ul li{
  margin: 20px 0;
}
    
.offcanvas-body ul li a{
    color: #000;
    font-size: 20px;
    padding: 3px;
    position: relative;
    transition: 0.3s ;
}

.offcanvas-body ul li a:hover{
    background-color: #8c7ae6;
    color: #fff;
}

.offcanvas-body ul li a::before{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 0px;
    height: 3px;
    background-color: orange;
    transition: 0.5s;
}

.offcanvas-body ul li a:hover::before{
    width: 100%;
}

.offcanvas .offcanvas-body ul .dropdown a{
    color: #353535;
}
/* =====Offcanvas end===== */

/* =====info section start===== */

#info .contains h6{
    margin-top: 85px;
}

#info .container .row .card-body h1{
    margin: 15px 0px 25px 0px;
}

#info .container .row .card-body h3{
    margin-top: 15px;
}

#info .container .row .card-body p{
    margin-top: 15px;
    line-height: 30px;
}

#info .container .row .card-body button{
    margin-top: 20px;
    padding: 10px;
    border: none;
    transition: 0.3s;
}

#info .container .row .card-body button:hover{
    background-color: orange;
    color: #fff;
    border: 1px solid#000;
    border-radius: 10px;
}

#info .photo img{
    width: 623px;
    height: 596px;
}

/* =====info section end===== */


/* =====crd section start===== */
#crd .card{
    border: none;
}
/* =====crd section end===== */




